body {
    font-family: "Lato", sans-serif;
    margin: 0;
    overflow-y: hidden;
}

.viz-page {
    width: 85%;
    background-color: white;
    margin-left: 7.5%;
}

.map-container {
  padding-top: 30px;

}

.hidden {
  display: none;
}

/* Toolbar */
.toolbar {
  font-size: 20px;
  font-style: italic;
  margin: 10px 0px 0px 30px;
  color: gray;
  position: absolute;
  top: 5px;
  left: 0px;
}

.toolbar:hover {
  color: orange;
}

/* Info Page */
.info-page {
  background-color: white;
  width: calc(100%-8px);
  height: 99vh; /* TODO: Fix height properly */
  border: orange 4px solid;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
  margin: 100px 0 20px 0;
  margin-left: 30%;
}

.info-video {
  background-color: gray;
  width: 40%;
  height: 50%;
  margin: auto;
}

/* Map */
.fill {
    fill: none;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.country {
    cursor: pointer;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: auto;                    
    height: 28px;                   
    padding: 6px;      
    color: white;      
    font: 12px sans-serif;      
    background: #1F5673; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;   
    /*box-shadow: 2px 2px 4px #CCC; */
}


/* slider code */
.slider-container {
    margin: auto;
    /*margin-top: -3px;*/
    width: 850px;
    padding-top: 20px;
}

.slider-button {
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin-top: 15px;
    border: none;
}

.slider-button-unpressed {
  background: url(../img/icons/play-button-unpressed.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.slider-button-pressed {
  background: url(../img/icons/play-button-pressed.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.d3slider {
    z-index: 2;
    height: 100%;
    background: none;
    width: 800px;
    display: inline-block;
}

.d3slider-rect-range {
    fill: #C3C0C4;
    stroke: none;
}

.d3slider-rect-value {
    fill: #1F5673;
    stroke: none;
}

.d3slider-axis {
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.d3slider-axis path {
    display: none;
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3slider-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3slider text {
    font-family: Lato;
    font-size: 10px;
}

.tick.minor text {
    display: none;
}

.tick line {
    stroke-width: 1;
}
.tick.minor line {
    stroke-width: 1;
    stroke: #bbb;
}

.dragger rect {
    fill: #71ACE3;
    stroke: none;
    z-index: 3;
}

.dragger line {
  stroke: #aa0000;
  fill: none;
}

.dragger-outer {
  fill: #fff;
  stroke: #696969;
  stroke-width: 2;
}

.dragger-inner {
  fill: transparent;
  stroke: none;
}

.min-marker line {
  stroke: #aa0000;
  fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
  z-index: 1;
}

/* Filter*/
.filter {
  position: absolute;
  top: 35%;
  left: 5px;
}

.check {
  display: none;
}

.icon {
  background: rgba(211, 211, 211, 0.6);
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.icon:hover {
    background: rgba(150, 150, 150, 0.6);
}

.icon-enabled#Wine {
  background: #960000;
}

.icon-enabled#Beer {
  background: #B75800;
}

.icon-enabled#Spirits {
  background: #4B7796;
}

/* Sidebar */
.sidebar {
    display: none;
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    height: 99.7vh;
    width: 250px;
    border: solid 1px gray;
    overflow-x: hidden;
}

.sidebar_item {
  margin: 2px 0px 2px 0px;
  cursor: pointer;
}

.sidebar_item p {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 3px;
    font-size: 14px;
}

.sidebar .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.sidebar_btn {
    width: 100px;
    outline: none;
    padding: 4px 0px 4px 0px;
    border: solid #1F5673 2px;
    border-radius: 25px;
    background-color: #1F5673;
    color: white;
    font-size: 12px;
    cursor: pointer;

}

.sidebar_btn:hover {
  background-color: transparent;
  color: #1F5673;
}

/* Landing Page */
.landing-page{
  margin: 0;
  width: 100%;
  height: 100vh;
  /*background-color: #f2f2f2;*/
  background: linear-gradient(to bottom right, white, #d9d9d9); /* Standard syntax */
  position: absolute;
  z-index: 5;
}

.landing-line {
  margin-left: 15%;
  border-left: solid orange 5px;
}

.landing-container {
  margin-left: 5%;
}

.title {
  font-size: 60px;
  margin-top: 15%;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.lp-button {
  width: 200px;
  outline: none;
  margin-top: 5%;
  padding: 8px 0px 8px 0px;
  border: solid orange 2px;
  border-radius: 25px;
  background-color: orange;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.lp-button:hover {
  background-color: transparent;
  color: orange;
}

